server:
  port: ${GATEWAY_PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Auth Service
        - id: auth-service
          uri: http://${AUTH_SERVICE_HOST:localhost}:${AUTH_SERVICE_PORT:8090}
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        # Product Service
        - id: product-service
          uri: http://${PRODUCT_SERVICE_HOST:localhost}:${PRODUCT_SERVICE_PORT:8091}
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=1

        # Shop Service
        - id: shop-service
          uri: http://${SHOP_SERVICE_HOST:localhost}:${SHOP_SERVICE_PORT:8092}
          predicates:
            - Path=/api/shop/**
          filters:
            - StripPrefix=1

        # Notification Service
        - id: notification-service
          uri: http://${NOTIFICATION_SERVICE_HOST:localhost}:${NOTIFICATION_SERVICE_PORT:8093}
          predicates:
            - Path=/api/notification/**
          filters:
            - StripPrefix=1

        # File Service
        - id: file-service
          uri: http://${FILE_SERVICE_HOST:localhost}:${FILE_SERVICE_PORT:8094}
          predicates:
            - Path=/api/file/**
          filters:
            - StripPrefix=1

        # Cart Service
        - id: cart-service
          uri: http://${CART_SERVICE_HOST:localhost}:${CART_SERVICE_PORT:8095}
          predicates:
            - Path=/api/cart/**
          filters:
            - StripPrefix=1

        # Order Service
        - id: order-service
          uri: http://${ORDER_SERVICE_HOST:localhost}:${ORDER_SERVICE_PORT:8096}
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1

        # Review Service
        - id: review-service
          uri: http://${REVIEW_SERVICE_HOST:localhost}:${REVIEW_SERVICE_PORT:8097}
          predicates:
            - Path=/api/review/**
          filters:
            - StripPrefix=1

        # Promotion Service
        - id: promotion-service
          uri: http://${PROMOTION_SERVICE_HOST:localhost}:${PROMOTION_SERVICE_PORT:8098}
          predicates:
            - Path=/api/promotion/**
          filters:
            - StripPrefix=1

        # Payment Service
        - id: payment-service
          uri: http://${PAYMENT_SERVICE_HOST:localhost}:${PAYMENT_SERVICE_PORT:8099}
          predicates:
            - Path=/api/payment/**
          filters:
            - StripPrefix=1

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

      default-filters:
        - name: Retry
          args:
            retries: 3
            statuses: BAD_GATEWAY,GATEWAY_TIMEOUT
            methods: GET,POST
            backoff:
              firstBackoff: 50ms
              maxBackoff: 500ms
              factor: 2
              basedOnPreviousValue: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://${AUTH0_DOMAIN:}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: INFO
    org.springframework.security: DEBUG

